* {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 80%;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #d94d89,
    #e25284,
    #eb597e,
    #f26078,
    #f86873,
    #fc726d,
    #fe7d68,
    #ff8864,
    #ff9761,
    #ffa65f,
    #ffb560,
    #ffc463
  );
  font-family: Roboto, RobotoDraft, Halvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  /* text-align: center; */
  /* margin: 0px 400px; */
}

.searchInput {
  margin-top: 60px;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.searchInput input {
  width: 60%;
  align-items: center;
  padding: 14px;
  outline: none;
  border: 0;
  border-radius: 5px;
  font-size: 15px;
}

::placeholder {
  font-style: italic;
  font-size: 15px;
  opacity: 0.4;
}

/* .profilesData {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
} */

.profilesData ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 63%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0 30px;
  place-content: center;
  /* background-color: #fff; */
  gap: 10px;
}

/* .profiledataContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

.profileContainer {
  gap: 12px;
  display: flex;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
}

.profileContainer img {
  width: 15%;
  display: block;
  border-radius: 3px;
}

.profileDatprofile {
  display: flex;
  flex-direction: column;
}

.profileDataID,
.profileDataName {
  opacity: 0.6;
}

.profileDataName {
  margin-top: 4px;
  font-weight: 600;
}

@media (max-width: 875px) {
  body {
    width: 90%;
    height: 100vh;
  }
  .searchInput {
    margin-top: 30px;
  }
  .searchInput input {
    width: 100%;
  }
  ::placeholder {
    font-size: 13px;
  }
  .profilesData ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px 0px;
  }
  .profileContainer {
    padding: 10px 30px 10px 20px;
    margin-bottom: 12px;
  }
  .profileContainer img {
    width: 20%;
    display: block;
    /* border-radius: 3px; */
  }
}
